.form-container {
    display: flex;
    flex-flow: column; 
    .form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        &-label {
            display: flex;
            flex-flow: column nowrap;
            margin: 20px 10px;
            font-weight: 500;
            background: lightgray;
            border: none;
            border-radius: 4px;
            padding: 8px;
            width: 150px;
            height: 65px;
            &__input {
                border: none;
                background: white;
                border-radius: 4px;
                padding: 5px;
                margin-top: 15px;
                min-height: 20px;
                margin-bottom: 5px;
            }
        }
        &-submit {
            border: none;
            padding: 10px;
            background: lightgray;
            color: black;
            cursor: pointer;
            outline: none;
            border-radius: 4px;
            font-weight: 700;
            width: 150px;
            margin: 30px auto 20px auto;
            &:hover {
                background: black;
                color: lightgray;
            }
        }
        &-message {
            position: absolute;
            background: rgba(0, 0, 0, 0.808);
            width: 100%;
            height: 100vh;
            display: flex;
            top: 0;
            justify-content: center;
            align-items: center;
            z-index: 5;
            &-content {
                display: flex;
                flex-flow: row nowrap;
                align-content: center;
                justify-content: space-around;
                font-size: 20px;
                width: 250px;
                padding: 15px 20px;
                margin-top: 30px;
                color: white;
                border-radius: 4px;
                &__list {
                    display: flex;
                    flex-flow: column nowrap;
                    span {
                        color: lightgray;
                        font-weight: 900;
                        margin-left: 8px;
                    }
                    ul {
                        list-style: none;
                        li {
                            margin-bottom: 8px;
                        }
                    }
                }
                &__close {
                    background: transparent;
                    color: red;
                    border: none;
                    outline: none;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    font-size: 30px;
                    cursor: pointer;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}